# Applied Data Science Capstone
<i>IBM Data Science Coursera Course</i>

## Jupyter Notebook for Capstone Project
By Xander Mol

### Week 3 Peer Graded Assignment

### Step 1: Create dataframe of neighborhoods in Toronto from Wikipedia page

In [1]:
#Imports
import pandas as pd

#Scrape table from website using Pandas
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
neigh=pd.read_html(url, header=0)[0]
neigh.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [2]:
#Get original dimensions
neigh.shape

(288, 3)

In [3]:
#Drop all rows with Neighbourhood is Not assigned
neigh.drop(neigh[neigh.Borough == 'Not assigned'].index, inplace=True)
neigh.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [4]:
#New dimensions
neigh.shape

(211, 3)

In [5]:
#Aggregate per postcode, seperating with comma
neigh = neigh.groupby(['Postcode' , 'Borough'], as_index=False).agg( ','.join)
neigh.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [10]:
#New dimensions
neigh.shape

(103, 3)

In [6]:
#Change Not assigned neighbourhood to name of Borough
neigh.loc[neigh['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = neigh['Borough']
neigh.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [7]:
#Check on final dimension
neigh.shape

(103, 3)